#editPanel {
    position: absolute;
    z-index: 999;
    top: 150px;
    right: 20px;
    opacity: 70%;
    user-select: none;
    /*background-color: lightgray;*/

}

#infoPanel {

    position: absolute;
    z-index: 999;
    top: 150px;
    left: 20px;
    opacity: 70%;
    user-select: none;
    width: 270px;
    height: 200px;
    background-color: white;

}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1; /* TODO Solve this in HTML */
}


a {
    color: #ffffff;
    text-decoration: none;
}

#sceneContainer {
    position: absolute;
    top: 0;
}

#sceneEditHeader {
    position: absolute;
    top: 0;
}

#BUPTLOGO {
    width: 50px;
    height: 50px;
    background-color: white;
}

.layui-layout-admin .layui-logo {
    width: 300px;
}

