<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>贴图生成页面测试</title>
    <link rel="stylesheet" href="./layui/css/layui.css">
</head>
<body>
<script src="./layui/layui.js"></script>

<script src="./js/app/generateTextures.js" type="module"></script>


<input type="file"
       id="uploadPic" name="avatar"
       accept="image/png, image/jpeg,image/jpg">

<!--<button type="button" class="layui-btn" id="uploadPicBtn" onclick="generateTextures()">-->
<!--    <i class="layui-icon">&#xe67c;</i>上传图片-->
<!--</button>-->

<!--<canvas id='MainCanvas' style="width: 64vw;height: 36vw;border-radius: 4px;background: #ccc;opacity: 0"></canvas>-->

<!--<div style="width:64vw; height: 36vw;border-radius: 4px; background: #ccc;opacity: 0">-->
<!--    <div id='convCanvContainer'-->
<!--         style="width: 512px;height: 384px; position:relative; background: #ccc; margin-left: auto;margin-right: auto">-->
<!--        <canvas id='convCanv0' class="baseCanv" style="top: 128px"></canvas>-->
<!--        <canvas id='convCanv1' class="baseCanv" style="top: 128px;left: 128px "></canvas>-->
<!--        <canvas id='convCanv2' class="baseCanv" style="top: 128px;left: 256px"></canvas>-->
<!--        <canvas id='convCanv3' class="baseCanv" style="top: 128px;left: 384px"></canvas>-->
<!--        <canvas id='convCanv4' class="baseCanv" style="top: 0; left: 128px"></canvas>-->
<!--        <canvas id='convCanv5' class="baseCanv" style="top: 256px; left: 128px"></canvas>-->
<!--    </div>-->
<!--</div>-->



</body>
</html>