<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My first three.js app</title>
    <style>
        body {
            margin: 0;
        }
    </style>
</head>
<body>
<script type="module">
    import * as THREE from '../static/js/build/three.module.js';
    import {GUI} from '../static/js/lib/dat.gui.module.js';

    let scene = new THREE.Scene();
    const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);

    const renderer = new THREE.WebGLRenderer();
    renderer.setSize(window.innerWidth, window.innerHeight);
    document.body.appendChild(renderer.domElement);

    const geometry = new THREE.BoxGeometry(1, 1, 1);
    const material = new THREE.MeshBasicMaterial({color: 0x00ff00});
    const cube = new THREE.Mesh(geometry, material);
    scene.add(cube);
    var loader = new THREE.ObjectLoader();
    camera.position.z = 5;

    //GUI
    let settings = {
        saveProject: false,
        loadProject: false
    };
    var gui = new GUI();
    gui.add(settings, "saveProject", false).onChange(onSaveProject);
    gui.add(settings, "loadProject", false).onChange(onLoadProject);

    function onSaveProject(newValue) {
        if (settings.saveProject) {
            var sceneJson = JSON.stringify(scene.toJSON());
            var a = document.createElement("a");
            a.href = window.URL.createObjectURL(new Blob([sceneJson], {type: "application/json"}));
            a.download = "project.json";
            a.click();
        } else {
        }
    }

    function onLoadProject(newValue) {
        if (settings.loadProject) {
            scene = new THREE.Scene;
            fetch('../static/user_source/newTest/project.json')
                .then(data => data.json())
                .then((data) => {
                        var loader = new THREE.ObjectLoader();
                        scene = loader.parse(data);
                        console.log(scene);
                    }
                )
        } else {
        }
    }

    //GUI end
    function animate() {
        requestAnimationFrame(animate);

        cube.rotation.x += 0.01;
        cube.rotation.y += 0.01;

        renderer.render(scene, camera);
    };
    animate();
</script>
</body>
</html>