<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全景项目编辑</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/css/sceneEdit.css">

    <script src="/layui/layui.js"></script>

    <script crossorigin src="/js/build/react.development.js"></script>
    <script crossorigin src="/js/build/react-dom.development.js"></script>
    <script src="/js/build/babel.min.js"></script>
    <script src="/js/build/dayjs.min.js"></script>
    <script src="/js/build/antd.js"></script>
    <link href="/js/build/reset.css" rel="stylesheet">

    <script src="/js/lib/axios.min.js"></script>
    <script src="/js/app/sceneEdit.js" type="text/babel" data-type="module"></script>

</head>
<body>
<div class="layui-panel">
    <div style="padding: 30px;" id="infoPanel">
        <h3>信息面板</h3>
        <span id="objectInfo"></span>
        <ul>
            <li id="objectPosition"></li>
            <li id="objectRotate"></li>
            <li id="objectScale"></li>
        </ul>
    </div>
</div>

<div class="layui-layout layui-layout-admin">
    <div class="layui-header" id="header" >
        <div class="layui-logo layui-hide-xs layui-bg-black">
            <a class="logo" href="/v2/">
                <img src="/images/app/BUPT_LOGO.png" alt="项目编辑" id="BUPTLOGO">
            </a>
            项目编辑
        </div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left" id="nav" >
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>
        </ul>
    </div>
    <div class="layui-body" style="left: 0">
        <div class="sceneContainer" id="sceneContainer"></div>
        <div id="app"></div>
    </div>

    <div class="layui-panel" id="editPanel">
        <ul class="layui-menu" id="sceneEditMenu">
            <li lay-options="{id: 1}">
                <div class="layui-menu-body-title">
                    <p><i class="layui-icon layui-icon-template-1"></i>添加模型</p>
                </div>
            </li>
            <li lay-options="{id: 2}">
                <div class="layui-menu-body-title">
                    <span><i class="layui-icon layui-icon-picture-fine"></i>添加场景</span>
                </div>
            </li>
            <li lay-options="{id: 3}">
                <div class="layui-menu-body-title">
                    <span><i class="layui-icon layui-icon-location"></i>添加热点</span>
                </div>
            </li>

            <li lay-options="{id: 4}">
                <div class="layui-menu-body-title">
                    <!--                    <span><i class="layui-icon layui-icon-slider"></i>Select</span>-->
                    <div class="layui-btn-group">
                        <button type="button" class="layui-btn  layui-btn-primary" id="prevButton">
                            <i class="layui-icon layui-icon-left"></i>
                        </button>
                        <button type="button" class="layui-btn layui-btn-primary">Select</button>
                        <button type="button" class="layui-btn  layui-btn-primary" id="nextButton">
                            <i class="layui-icon layui-icon-right"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li lay-options="{id: 5}">
                <div class="layui-menu-body-title">
                    <span><i class="layui-icon layui-icon-slider"></i>Move</span>
                </div>
            </li>
            <li lay-options="{id: 6}">
                <div class="layui-menu-body-title">
                    <span><i class="layui-icon layui-icon-slider"></i>Rotate</span>
                </div>
            </li>
            <li lay-options="{id: 7}">
                <div class="layui-menu-body-title">
                    <span><i class="layui-icon layui-icon-slider"></i>Scale</span>
                </div>
            </li>

            <li class="layui-menu-item-divider"></li>

            <li class="layui-menu-item-divider"></li>

            <li class="layui-menu-item-group layui-menu-item-down" lay-options="{type: 'group'}">
                <div class="layui-menu-body-title">
                    物体调整 <i class="layui-icon layui-icon-up"></i>
                </div>
                <ul>
                    <li lay-options="{id: 1031}"><span>物体缩放</span>
                        <div id="slideScale"></div>
                    </li>
                    <li lay-options="{id: 1032}">
                        <div class="layui-menu-body-title">X轴旋转</div>
                        <div id="slideTest6"></div>
                    </li>
                    <li lay-options="{id: 1032}">
                        <div class="layui-menu-body-title">Y轴旋转</div>
                        <div id="slideTest7"></div>
                    </li>
                    <li lay-options="{id: 1032}">
                        <div class="layui-menu-body-title">Z轴旋转</div>
                        <div id="slideTest8"></div>
                    </li>
                </ul>
            </li>
            <li lay-options="{id: 8}">
                <div class="layui-menu-body-title">
                    <span><i class="layui-icon layui-icon-find-fill"></i>比例标定</span>
                </div>
            </li>
            <li lay-options="{id: 9}">
                <div class="layui-menu-body-title">
                    <span><i class="layui-icon layui-icon-slider"></i>保存全景漫游</span>
                </div>
            </li>
            <li lay-options="{id: 10}">
                <div class="layui-menu-body-title">
                    <span><i class="layui-icon layui-icon-slider"></i>清除场景</span>
                </div>
            </li>
            <li lay-options="{id: 11}">
                <div class="layui-menu-body-title">
                    <span><i class="layui-icon layui-icon-slider"></i>打印选中物体信息(DEBUG)</span>
                </div>
            </li>
            <li lay-options="{id: 12}">
                <div class="layui-menu-body-title">
                    <span><i class="layui-icon layui-icon-slider"></i>导出为GLTF模型</span>
                </div>
            </li>
            <li lay-options="{id: 13}">
                <div class="layui-menu-body-title">
                    <span><i class="layui-icon layui-icon-slider"></i>从GLTF导入场景</span>
                </div>
            </li>
            <li lay-options="{id: 14}">
                <div class="layui-menu-body-title">
                    <span><i class="layui-icon layui-icon-slider"></i>Step2Json</span>
                </div>
            </li>
            <li lay-options="{id: 15}">
                <div class="layui-menu-body-title">
                    <span><i class="layui-icon layui-icon-password"></i>锁定物体</span>
                </div>
            </li>

        </ul>
    </div>

    <!--    <div class="layui-footer">-->
    <!--        &lt;!&ndash; 底部固定区域 &ndash;&gt;-->
    <!--        底部固定区域-->
    <!--    </div>-->
</div>

<button type="button" class="layui-btn layui-btn-fluid" id="saveSuccess" style="display: none"><i
        class="layui-icon layui-icon-ok-circle" style="font-size: 30px;"></i>场景保存成功
</button>

<div id="scaleCalibrationInput" style="display: none">

    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">比例</label>
            <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required" placeholder="0.7"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">真实距离(m)</label>
            <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required" placeholder="请输入真实距离"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
    </form>
</div>

<script th:inline="javascript">
    sessionStorage.setItem('configurationFileId', [[${session.configurationFileId}]]);
    sessionStorage.setItem('userId',[[${session.user.getUserId()}]]);
</script>
</body>
</html>